# importing pandas library

In [1]:
import pandas as pd

# creating a dataframe called songs_1978 from billboard_1978.csv

In [2]:
songs_1978 = pd.read_csv('../../datasets/billboard_1978.csv')
type(songs_1978)

pandas.core.frame.DataFrame

# using head()
* gets the first few items in the dataframe

In [3]:
songs_1978.head()

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,Pop,25,1,Min,102
1,1978,2,"""Night Fever""",Bee Gees,Pop,20,1,Min,110
2,1978,3,"""You Light Up My Life""",Debby Boone,Country,25,1,Maj,78
3,1978,4,"""Stayin' Alive""",Bee Gees,Pop,27,1,Min,103
4,1978,5,"""Kiss You All Over""",Exile,Country,23,1,Maj,104

# Using tail()
* gets the last few items in the dataframe

In [4]:
songs_1978.tail()

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
95,1978,96,"""Ebony Eyes""",Bob Welch,Rock,17,14,Maj,118
96,1978,97,"""The Name of the Game""",ABBA,Pop,16,12,Maj,76
97,1978,98,"""We're All Alone""",Rita Coolidge,Pop,20,7,Maj,66
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
99,1978,100,"""Deacon Blues""",Steely Dan,Rock,16,19,Maj,114

# Using iloc[]
* allows you to access a range or particular item in the dataframe

In [5]:
songs_1978.iloc[93]

Year                                       1978
Hot_Singles_Rank                             94
Title                           "Turn to Stone"
Artist                 Electric Light Orchestra
Genre                                      Rock
Weeks_On_Chart                               15
Peak_Chart_Position                          13
Maj_Min                                     Maj
BPM                                         138
Name: 93, dtype: object

# Using shape
* gives you the number of rows and columns in the dataframe

In [6]:
songs_1978.shape

(100, 9)

# Using info()
* gives you data about the dataframe, positions, data types, column names,etc
* Title,Artist, Genre, Weeks_On_Chart, and Maj_Min are all Strings
* Year, Hot_Singles_Rank, BPM, and Peak_Chart_Position are all integers

In [7]:
songs_1978.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 100 non-null    int64
 1   Hot_Singles_Rank     100 non-null    int64
 2   Title                100 non-null    object
 3   Artist               100 non-null    object
 4   Genre                100 non-null    object
 5   Weeks_On_Chart       100 non-null    object
 6   Peak_Chart_Position  100 non-null    int64
 7   Maj_Min              100 non-null    object
 8   BPM                  100 non-null    int64
dtypes: int64(4), object(5)
memory usage: 7.2+ KB

# Using describe()
* describe gives you statistical data on the dataframe
* the slowest tempo is 64 BPM and the fastest is 156 BPM

In [8]:
songs_1978.describe()

         Year  Hot_Singles_Rank  Peak_Chart_Position         BPM
count   100.0        100.000000           100.000000  100.000000
mean   1978.0         50.500000             6.940000  107.700000
std       0.0         29.011492             5.112512   20.396821
min    1978.0          1.000000             1.000000   64.000000
25%    1978.0         25.750000             3.000000   96.000000
50%    1978.0         50.500000             6.000000  110.000000
75%    1978.0         75.250000            11.000000  122.000000
max    1978.0        100.000000            21.000000  156.000000

# Using iloc[] to access specific information
* getting the 2nd Ranked song's artist

In [9]:
songs_1978.iloc[1,3]

'Bee Gees'

* getting the 2nd Ranked song's genre

In [10]:
songs_1978.iloc[1,4]

'Pop'

* getting the 50th Ranked song's title

In [11]:
songs_1978.iloc[49,2]

'"Thunder Island"'